<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper XML : SQL을 작성 -->
<!-- namespace에는 보통 파일 이름을 적음 -->
<mapper namespace = "mybatis">

	<!-- m1 -->
	<insert id="m1">
		insert into tblAddress
			values(seqAddress.nextVal,'홍길동',20,'서울시 강남구 역삼동','m')
	</insert>


	<!-- m2 -->
	<delete id="m2" parameterType="String">
		delete from tblAddress where seq = #{seq}
	</delete>
	
	
	<!-- m3 -->
	<!-- java.util.HashMap 이거는 map 으로 적어도 됨 -->
	<update id="m3" parameterType = "map">
		update tblAddress set
			age = #{age}, 
			address = #{address}
				where seq = #{seq}
	</update>
	
	
	<!-- m4 -->
	<!-- com.test.mybatis.model.AddressDTO 이거 너무 길어서 mybatis-config에서 별칭 정함 -->
	<insert id="m4" parameterType="adto">
		insert into tblAddress
			values(seqAddress.nextVal,#{name},#{age},#{address},#{gender})
	</insert>
	
	
	
	<!-- m5 -->
	<!-- 반환값은 resultType 사용, 무조건 참조형을 적어야한다.(int안됨) -->
	<!-- public int m5  > resultType="Integer" -->
	<select id="m5" resultType="Integer">
		select count(*) from tblAddress
	</select>
	
	
</mapper>